html,
body {
    font-family: "Genshin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    padding-bottom: 55px;
    color: var(--content-text-color);
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.calculate-level-table.constellation-3 .constellation-3,
.calculate-level-table.constellation-4 .constellation-3,
.calculate-level-table.constellation-5 .constellation-3,
.calculate-level-table.constellation-5 .constellation-5,
.calculate-level-table.constellation-6 .constellation-3,
.calculate-level-table.constellation-6 .constellation-5 {
    color: var(--content-link-color);
}

.form-check {
    color: var(--content-link-color);
    text-decoration: none;
    transition: color 0.3s ease 0s;

}

.form-check:hover {
    color: #34eada;
    text-decoration: underline;
}

.form-check .form-check-input,
.form-check .form-check-label {
    cursor: pointer;
}

#calculator-character-select-table thead th {
    border-bottom-color: inherit;
}

#calculator-character-select-table .btn:focus {
    outline: none;
    box-shadow: none;
}


/* bgm audio button css is here*/

#mute-button {
    /* Transparent background */
    background-color: transparent;
    /* Border radius */
    border-radius: 50%;
    /* Button color */
    color: #c2b1b157;
    /* Button hover color */
    transition: none;
    /* Positioning */
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    margin: 10px; /* Add a 10px margin around the button */
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

 
  #mute-button:hover {
    color: #ffffff;
    box-shadow: none;
    transform: none;
  }
  
  #mute-button:focus {
    outline: none;
    box-shadow: none;
  }
  
  /* Volume icon styles */
  
  #volume-icon {
    font-size: 18px;
    margin: 10 10px;
    /* No background color */
    background-color: transparent  !important;
    text-shadow: none  !important;
    box-shadow: none  !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-filter: drop-shadow(none);
    filter: drop-shadow(none);
  }
  
  .fa-volume-up {
    color: #ffffff;
    text-shadow: none  !important;
    box-shadow: none  !important;
  }
  
  .fa-volume-mute {
    color: #ffffff;
    text-shadow: none  !important;
    box-shadow: none  !important;
  }
  
  .fa-volume-up::before {
    content: "\f028";
  }
  
  .fa-volume-mute::before {
    content: "\f026";
  }